.films_data_main {
    padding-top: 40px;
    padding-bottom: 40px;
}

.Film_main {
    padding-top: 50px;
    padding-bottom: 0;
}

@media screen and (max-width: 992px) {
    .films_data_main {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .Film_main {
        padding-top: 0;
        padding-bottom: 0;
    }

}

.film_main_sect {
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    width: 100%;
}

.film_main_sect iframe {
    width: 557px;
    height: 303px;
}

.film_main_sect video::after {
    content: "+";
    position: relative;
    top: 0;
    left: o;
}

@media (max-width: 1680px) {
    .film_main_sect iframe {
        width: 456px;
        height: 262px;
    }
}


@media (max-width: 1366px) {
    .film_main_sect iframe {
        width: 383px;
        height: 208px;
    }
}


@media (max-width: 440px) {
    .film_main_sect iframe {
        width: 341px;
        height: 185px;
    }
}

@media (max-width: 768px) {
    .film_main_sect iframe {
        width: 340px;
        height: 208px;
    }
}